.Home {
  display: flex;
  flex-direction: column;
  padding: 8%;
  >h3{
      margin-top:5px;
      margin-bottom:5px;
  }
}
.marker{

  background-image: url("../../img/marker.png");
  background-size: cover;
  width: 20px;
  height: 30px;
  
}