.Footer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50px;
  position: bottom;
  background: rgb(0, 0, 0);
  width: 100%;
}

$viewport-phone: 300px;
$viewport-tablet: 564px;
$viewport-desktop: 960px;
